<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Audience of One</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="canonical" href="">

    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div class="inner cover">
      <h1 class="cover-heading">Audience of One</h1>
      <p class="lead">Music that's only for you, only this once.</p>
      <p class="lead">Sign up to receive a song at a random time that you'll only be able to listen to once, in that same moment.</p>
      <p class="lead">Songs are hosted online, using URLs that 'self-destruct' after you've played them once.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-default">Sign up</a>
      </p>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Made with ♥️ by <a href="https://twitter.com/baileytalks">@baileytalks</a>.</p>
      </div>
    </div>
  </body>
</html>
