<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Audience of One</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="canonical" href="">

    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div class="inner cover">
      <h1 class="cover-heading">Sorry!</h1>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Made with ♥️ by <a href="https://twitter.com/baileytalks">@baileytalks</a>.</p>
      </div>
    </div>
  </body>
</html>
